*
{
	margin: 0;padding: 0;
}
h3
{
	text-align: center;
	margin-top: 30px;
}
fieldset
{
	width: 450px;
	height: auto;
	margin: 10px auto;
}
table
{
	width: 400px;
	margin: 0px auto;
	font-family: "微软雅黑"; 
}
tr{
	width: 100%;
	height: 50px;
}
table .sp1
{
	width: 80px;
	color: #333; 
	font-size: 14px;
}

table .sub
{
	text-align:center;
}

input,select
{ 
	box-sizing: border-box;
    border:1px solid #999;
    padding: .5em 1em;            
}   
button
{
	width: 120px;
    height: 35px;
    background-color: #FF6700;
    color: #FFF;
    cursor: pointer;
	margin-right:30px; 
}
button:hover
{
    background-color: #FF0000;
}
